body {
    font-family: Arial, sans-serif;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square;
}

ol {
  list-style: circle;
}

ul > a {
  color: inherit;
  text-decoration: none;
}